*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}
body{
    background-color: rgb(168, 255, 127);
}
header{
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(to bottom, rgb(0, 199, 0) ,rgb(0, 255, 0));
    justify-content: space-between;
    position: sticky;
    top:0;
    padding: 5px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.575);
}

header>figure>img{
    height: 40px;
}
header>figure{
    margin: auto 20px;
    display: flex;
}
header>figure>figcaption{
    margin: auto 15px;
    color: white;
    font-size: 15px;
}
nav{
    display: flex;
    align-items: center;
}
nav>ul{
    list-style-type: none;
    display: flex;
}
nav>ul>li{
    margin-right: 20px;
}
nav>ul>li>a{
    font-size: 13px;
    padding:6px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.37);
}
nav>ul>li>a:hover{
    background-color: rgba(0, 0, 0, 0.349);
    transition: 1s;
}

@media only screen and (max-width: 705px){
    nav{
        margin-top: 5px;
        margin-right: auto;
        margin-left: auto;
    }
    header>figure{
        align-items: center;
        justify-content: center;
    }
}

h1{
    padding-top: 15px;
    text-align: center
}
main{
    max-width: 650px;
    margin: 0px auto 20px auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px ;
}
h2{
    padding: 20px 0px 0px 10px;
}
p{
    text-align: justify;
    padding: 10px 10px 0px 10px;
    text-indent: 35px;
    line-height: 25px;
}
main>figure{
    display: block;
    margin: 10px auto;
}
main>figure>img{
    display: block;
    margin: 10px auto;
    width: 70%
}
main>figure>figcaption{
    display: block;
    text-align: center;
}

h3{
    margin-top: 10px;
    margin-left: 15px;
}

.parjuramento{
    margin-left: 15px;
}

footer{
    background-color: white;
    padding: 7px;
    font-size: 12px;
    text-align: center;
    font-weight: bolder;
}
div#boxdev{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}
#boxdev>.devs{
    height: 250px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.100);
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#boxdev>.devs>figure{
    margin-top: 10px;
    text-align: center;
}
#boxdev>.devs>figure>img{
    border-radius: 50%;
    box-shadow: 3px 3px 7px black;
    width: 70%;
    
}